	h1 
	{
		font-family: "Arial", Helvetica, sans-serif;
		font-size: 30px;
		background-color: #FF0000;
		color: #FFFFFF;
		text-align: center;
	}
	
	h2
	{
		font-family: "Arial", Helvetica, sans-serif;
		font-size: 24px;
		background-color: #000000;
		color: #FFFFFF;
		text-align: center;
	}
	
	h3
	{
		font-family: "Arial", Helvetica, sans-serif;
		font-size: 16px;
	}
	
	p,li
	{
		font-family: "Arial", Helvetica, sans-serif;
		font-size: 14px;
	}

	#nav
	{
		background-color: #FF0000;
		text-align: center;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
	}
	
	#nav ul
	{
		list-style-type:none;
		margin:1;
		padding:0;
	}

	#nav li
	{
		display: inline;
		font-size: 16px;
	}
	
	#nav a
	{
		position: relative;
		color: #ffffff;
		text-decoration: none;
		outline: 0;
	}
	
	input {
    width:350px;
    margin-bottom:5px;
    line-height:18px;
    padding:2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:2px solid #ff0000;
	}
	
	input[type=textarea] {
    width:350px;
	height:200px;
    margin-bottom:5px;
    line-height:18px;
    padding:2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:2px solid #ff0000;
	}
	
	input[type=button] {
    width:100px;
    margin-top:5px;
    padding:2px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:#ff0000;
    color:#ffffff;
    font-weight:bold;
	}
